### Q1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [7]:
test1 = 'This is a test of the emergency text system'
with open('test.txt','w') as f:
        f.write(test1)

### Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [8]:
with open('test.txt','r') as f:
    test2 = f.readline()
test2

'This is a test of the emergency text system'

### Q3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [12]:
import csv
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [12]:
import sqlite3 as sqle
conn= sqle.connect('books.db')
db= conn.cursor()
db.execute('create table books(title varchar(30),author varchar(15), year int)')
conn.commit()

### Q5. Read books.csv and insert its data into the book table.

In [14]:

import pandas as pd
read_table = pd.read_csv('books.csv', encoding='unicode_escape')
read_table.to_sql('books', conn, if_exists='append', index = False)

5

### Q6. Select and print the title column from the book table in alphabetical order.

In [19]:
db.execute('select title from books order by title asc')
print(db.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

### Q7. From the book table, select and print all columns in the order of publication.

In [20]:
db.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(db.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1  The Weirdstone of Brisingamen      Alan Garner  1960
2                     Small Gods  Terry Pratchett  1992
3                     Small Gods  Terry Pratchett  1992
4         Perdido Street Station   China Miéville  2000
5         Perdido Street Station   China Miéville  2000
6                          Thud!  Terry Pratchett  2005
7                          Thud!  Terry Pratchett  2005
8             The Spellman Files        Lisa Lutz  2007
9             The Spellman Files        Lisa Lutz  2007

### Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [21]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [23]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

### Q10. Increment the count field of test and print it.

In [25]:
conn.hincrby('test','count', 3)