#### Qs1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

String value = 'hello' / "hello"
Integer value = 6,7,8
float value = -87.8, 34.223,23.334444
Mathematical operators =
multiply sign = *
division = /
addition = +
substraction = -

#### Q2. What is the difference between string and variable?

String- it is text value which show in single or double quotes and it stores series of character.

example- "This is String", 'This is also string',"YouPutAnyRandomCharacter"

Variable- It is create to store number, character in memory location. you assign a value using equal(=) sign.
          variable names contains only letter, number and underscores but variable never starts with number.
example- var="Hello" 
         var1=123
         var_2= 'idfg'
         _var="dsfd"

In [1]:
type("This is String")

str

#### Q3. Describe three different data types.

Classification of data items is data types.there are built in data type in Python.
1- Numeric
2- Boolean
3- Sequence Type

1-Numeric data types contain integer, float and complex number. it is define int, float and complex in python.
  ex- int(4), float(4.9), complex(3+9j)

2-There are two Boolean values - True and False. it is show in same context otherwise show a error.
  ex- type(True) = bool
      type(true) = showing error

3- Sequence Type is collect similar and diffrent data types. There are several sequence types.
1-String- "It is collection of character in single or double quotes"
ex- "Hello"

2-List- it is collection of data. it takes diffrent diffrent type of data. 
ex- [1,3,"awwedw"]

3-Tuple -tuple and list are almost same but one point is diffrent that tuple is immutable i.e. tuple can not be modified again.
ex- a=(1,4,2,"sfsdf")

In [4]:
# numeric
type(4) #int
type(4.9) # float
type(4+2j) #complex

#boolean
type(True) #bool

# sequence type
"hello" #str
list= [1,3,2,5,"gjhg"] 
tuple= (1,6,3,8,"dcs")

bool

#### Q4. What is an expression made up of? What do all expressions do?

Expression is collection of operators. In expression more than one operators presents  precedence rules  
which operation perform first. there are some expression example - +,-,*,/,//,%,and, or, not

In [5]:
23+2 #addition

25

In [6]:
75/25 # division- it gives you float value

3.0

In [7]:
75//25 # division- it gives you integer value

3

In [9]:
111%37 #remainder

0

In [10]:
37*3

111

In [23]:
p= -23 >= 23
q= 12<= 238238

# logical expression
p and q #False
p or q  # True
T= not q

In [24]:
print(T)

False

# operator precedence
parenthesis > exponentation > multiply,divide,module > addition,substract

In [26]:
5.8+(7.4/3.7*5)-6*2/2.5 
# step 1 solve parenthesis 10
# step 2 solve 6*2/2.5 = 4.8
# step 3 solve 5.8 + 10 - 4.8

11.0

#### Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

spam=10 #statement # assignment statement
It is a statement because it is show a value, not a output and Equal(=) sign assign a value in spam. 

expression is combination of operation, variable. it gives you output every times.and function is also expression. non return function gives None values.

In [31]:
(3+5)/4 #it is expression because it gives you output.

2.0

expression example- "hello" + "world", 4+5,
statement example - a=5, for, if, while, classes, import,del,

#statement
def fun():
    return "ndsjan"

x=1
y=x+1

#### Q6. After running the following code, what does the variable bacon contain?

In [7]:
bacon = 22
bacon + 1   # 22 + 1

23

In [8]:
print(bacon)

22

#### Q7. What should the values of the following two terms be?

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

#### Q8. Why is eggs a valid variable name while 100 is invalid?

variable names contains only letter, number and underscores but variable never starts with number.

In [11]:
1var= 1

SyntaxError: invalid syntax (40607543.py, line 1)

In [13]:
var_=1

In [14]:
_var=1

In [15]:
var123=34

#### Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [28]:
a=int(input())
b=int(input())
c=a//b
d=a/b

23
4

In [26]:
c,d

(1, 1.0303030303030303)

In [31]:
a=str(input())
b=str(input())

wdfdd
csdcdfs

In [33]:
c= a+b

In [34]:
c

'wdfddcsdcdfs'

#### Q10. Why does this expression cause an error? How can you fix it?

In [35]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In this func string and integer addition which is not possible. if integer change in string then it can add.

In [36]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'