### Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980.the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [8]:
import pyinputplus as pyip
def birthYears():
    Birth_year = pyip.inputInt()
    year_list= []
    for year in range(Birth_year,Birth_year+6):
        year_list.append(year)
    return (year_list)
my_birth= birthYears()
my_birth[:]

1991

[1991, 1992, 1993, 1994, 1995, 1996]

### Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [9]:
my_birth[3]

1994

### Q3.In the years list, which year were you the oldest?

In [12]:
max(my_birth) # my_birth[-1]

1996

# Q4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,&quot;salmonella&quot;.

In [13]:
elements = list(['mozzarella', 'cinderella','salmonella'])
elements

['mozzarella', 'cinderella', 'salmonella']

### Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Capitalize() will not update the list original values.

In [14]:
for i in elements:
    print(i.capitalize())
elements

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

### Q6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [18]:
surprise_elements=["Groucho", "Chico", "Harpo"]
surprise_elements

['Groucho', 'Chico', 'Harpo']

### Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [19]:
surprise_elements[-1]

'Harpo'

In [22]:
surprise_elements[-1][::-1]

'opraH'

In [23]:
surprise_elements[-1][::-1].capitalize()

'Oprah'

In [24]:
surprise_elements[-1][::-1].title()

'Oprah'

In [25]:
surprise_elements[-1][::-1].upper()

'OPRAH'

### Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [27]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### Q9. Write the French word for walrus in your three-word dictionary e2f.

In [28]:
e2f['walrus']

'morse'

### Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [34]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### Q11. Print the English version of the French word chien using f2e.

In [35]:
f2e['chien']

'dog'

### Q12. Make and print a set of English words from the keys in e2f.

In [36]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

### Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [37]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'dhshdjs', 'emus':'erewr'},
       'plants' : 1212,
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'],
  'octopi': 'dhshdjs',
  'emus': 'erewr'},
 'plants': 1212,
 'other': ''}

### Q14. Print the top-level keys of life.

In [38]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

### Q15. Print the keys for life[&#39;animals&#39;].

In [39]:
life['animals']

{'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': 'dhshdjs', 'emus': 'erewr'}

In [40]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

### Q16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [41]:
life['animals']

{'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': 'dhshdjs', 'emus': 'erewr'}

In [43]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']